@page "/"
@using Microsoft.AspNetCore.Components.Authorization  @* Required for <AuthorizeView> *@

@if (loading)
{
    <MudProgressLinear … />
}

<MudContainer …>
    <h3>My Verses</h3>

    <AuthorizeView>
        <Authorized>
            




        </Authorized>
        <NotAuthorized>
            <p>Please login to see your verses.</p>
        </NotAuthorized>
    </AuthorizeView>
</MudContainer>