@page "/profile"
@namespace VerseApp.Pages

@if (loading)
{
    <MudProgressLinear … />
}

<MudContainer >
    <h3>Profile</h3>
    @if (data.currentUser == null)
    {
        <MudButton OnClick="Login" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
        <MudButton OnClick="CreateAccount" Variant="Variant.Text" Color="Color.Primary" Class="ml-auto">Create Account</MudButton>
    }
    else
    {
        <p>Your profile</p>
    }
</MudContainer>