@page "/authentication/dataprivacy"
@layout NoNav
@inject IDialogService DialogService

<MudOverlay @bind-Visible="overlayVisible" @onclick="CloseDrawer" DarkBackground>
    <MudProgressLinear Color="Color.Primary" Style="width: 50%; margin-bottom: 15px; margin-top: -35px; margin-right: 5px;" Indeterminate="true" />
    @if (!string.IsNullOrEmpty(overlayMessage))
    {
        <h2>@overlayMessage</h2>
    }
    else
    {
        <h2 style="margin-left: 5px;">Loading...</h2>
    }
</MudOverlay>


<div class="single-stack">
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Style="width: 70%;">
        <h1 style="text-align: center; margin-bottom: 25%; margin-top: 25%;">VerseApp</h1>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div style="margin-top: -36px; display: flex; align-items: center; justify-content: center; flex-direction: row;">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Error" Title="Favorite" />
                <p style="margin-left: 5px;">@errorMessage</p>
            </div>
        }
        <h3 style="text-align: center; margin-bottom: 10%;">Data Privacy</h3>
        <h5 style="width: 100%;">We are committed to keeping your data secure and private. You password is hashed right when you create it to keep it confidential. </h5>
        <h5 style="width: 100%;">We guarantee secure processing, transfer, storage of all your data and will never sell or share any of your data or activity on the platform.</h5>
        <h5 style="width: 100%;">By creating an account you acknowledge agreement with this policy.</h5>
        @if (!string.IsNullOrEmpty(message))
        {
            <div style="margin-top: -25px;">
                <p>@message</p>
            </div>
        }
        <div class="button">
            <MudButton OnClick="Back_Click" Variant="Variant.Outlined" FullWidth="true" Color="Color.Secondary" Class="ml-auto">Back</MudButton>
        </div>
    </MudStack>
</div>